@model List<Campaign>

<h1 class="text-center">Campaigns</h1>

<div class="row">
    @foreach (Campaign campaign in Model)
    {
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="@campaign.CampaignMap" class="card-img-top" alt="map_img">
                <div class="card-body">
                    <h5 class="card-title">@campaign.CampaignName</h5>
                    <p class="card-text">@campaign.CampaignDesc</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }


@* 

    <div class="col-md-6">
        <table class="table text-center">
            @foreach (Campaign campaign in Model)
            {
                <tbody>
                    <tr class="text-start">
                        <td class="align-middle"><b>@campaign.CampaignName</b></td>
                        <td class="text-end">
                            <form asp-controller="Campaign" asp-action="UpdateCampaignForm" method="get">
                                <input type="hidden" name="campaignId" value="@campaign.CampaignId" />
                                <button type="submit">Edit</button>
                            </form>
                            <form asp-controller="Campaign" asp-action="RedirectToCampaign" method="get">
                                <input type="hidden" name="campaignId" value="@campaign.CampaignId" />
                                <button type="submit">Go</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle">@campaign.CampaignDesc</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="align-middle"><img src="@campaign.CampaignMap" alt="campaign_Map" height="100" width="100" /></td>
                    </tr>
                </tbody>
            }
        </table>
    </div> *@
    <div class="col-md-6">
        <a asp-controller="Campaign" asp-action="NewCampaignForm">NEW CAMPAIGN</a>
    </div>
</div>
