@model List<Campaign>



<head>
    <link rel="stylesheet" href="~/css/CampaignCards.css" asp-append-version="true" />
</head>

<body class="bg-campaign">
    <h1 class="titulo">Campaigns</h1>
    <main class="container">
        <div class="row justify-content-center">
            @foreach (Campaign campaign in Model)
            {
                <div class="col-12 col-md-6 col-lg-4 mt-5 d-flex justify-content-center align-items-center hover-scale">
                    <div class="card text-white w-100 w-md-50 w-lg-25">
                        <img src="@campaign.CampaignMap" class="card-image-portrait" alt="map_img" width="auto" height="200">
                        <div class="card-body">
                            <h2 class="card-title">@campaign.CampaignName</h2>
                            <pre class="textOverflow card-text my-1" style="min-height:150px; max-height: 150px; overflow-y: auto;">@campaign.CampaignDesc</pre>
                            <div class="card-footer bg-transparent d-flex justify-content-around align-items-center selector" style="height: 100px;">
                                <div class="info selector rounded-1 modify d-flex justify-content-around align-items-center">
                                    <form asp-controller="Campaign" asp-action="UpdateCampaignForm" method="get">
                                        <input type="hidden" name="campaignId" value="@campaign.CampaignId" />
                                        <button type="submit"><b>Edit</b></button>
                                    </form>
                                </div>
                                <div class="info selector roundet-1 go d-flex justify-content-around align-items-center">
                                    <form asp-controller="Campaign" asp-action="RedirectToCampaign" method="get">
                                        <input type="hidden" name="campaignId" value="@campaign.CampaignId" />
                                        <button type="submit" class="greenButton-normal"><b>Sessions</b></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="card-frame-campaign" src="~/images/macaco/cardFrame_2_sinlado.png" />
                </div>
            }
        </div>
        <div class="floating-button">
            <a asp-controller="Campaign" asp-action="NewCampaignForm" type="button">
                <button class="floating-button-plus d-xl-none fs-3 fw-bolder">
                    +
                </button>
                <a asp-controller="Campaign" asp-action="NewCampaignForm" type="button" class="text-decoration-none"><button class="whiteButton-normal d-none d-xl-block"><b>New Campaign</b></button></a>
            </a>
        </div>
    </main>
</body>