@model List<Campaign>

<h1 class="text-center">Campaigns</h1>

<div class="row">
    @foreach (Campaign campaign in Model)
    {
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="@campaign.CampaignMap" class="card-img-top" alt="map_img">
                <div class="card-body">
                    <h5 class="card-title">@campaign.CampaignName</h5>
                    <p class="card-text">@campaign.CampaignDesc</p>
                    <div class="card-footer bg-transparent border-success">
                        <div>
                            <form asp-controller="Campaign" asp-action="UpdateCampaignForm" method="get">
                                <input type="hidden" name="campaignId" value="@campaign.CampaignId" />
                                <button type="submit" class="btn btn-secondary">Edit</button>
                            </form>
                        </div>
                        <div>
                            <form asp-controller="Campaign" asp-action="CampaignWithSesion" method="get">
                                <input type="hidden" name="campaignId" value="@campaign.CampaignId" />
                                <button type="submit" class="btn btn-success">Go</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    <div class="col-md-6">
        <a asp-controller="Campaign" asp-action="NewCampaignForm">NEW CAMPAIGN</a>
    </div>
</div>
