@model List<Monster>

<head>
    <link rel="stylesheet" href="~/css/MonsterListStyle.css" asp-append-version="true" />
</head>


<body class="bg-monster">
    <h1 class="titulo">MONSTERS</h1>
    <main class="container">
        <section>
            @foreach (Monster monster in Model)
            {
                <details name="monster-info" class="m-2">
                    <summary>@monster.Name</summary>
                    <div class="row">
                        <div class="col-8">
                            <div>
                                <p>
                                    <b>Race type:</b> @monster.RaceType
                                    <br>
                                    <b>AC:</b>@monster.Ac
                                    <br>
                                    <b>HP:</b>@monster.Hp
                                    <br>
                                    <b>Sesion HP:</b> @monster.SesionHp
                                    <br>
                                    <b>Monster Speed:</b> @monster.MonsterSpeed
                                    <br>
                                    <b>Strong:</b> @monster.Str
                                    <br>
                                    <b>DEX:</b> @monster.Dex
                                    <br>
                                    <b>CON:</b> @monster.Con
                                    <br>
                                    <b>INTELLIGENCE:</b> @monster.Inte
                                    <br>
                                    <b>WIS:</b> @monster.Wis
                                    <br>
                                    <b>CHA:</b> @monster.Cha
                                    <br>
                                    <b>Monster CR:</b> @monster.MonsterCR
                                    <br>
                                    <b>Actions:</b>  @Html.Raw(monster.Actions)
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            <img src="@monster.ImgUrl" alt="MonsterImg" height="400" width="400">
                        </div>
                    </div>
                </details>
            }
        </section>

        <footer class="mt-3">
            <!-- Pagination -->
            <div class="d-flex justify-content-center align-items-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item @(Convert.ToInt32(ViewData["CurrentPage"]) == 1 ? "disabled" : "")">
                            <a class="page-link bg-warning" href="@Url.Action("Monster", new { page = Convert.ToInt32(ViewData["CurrentPage"]) - 1 })" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (int i = Math.Max(1, Convert.ToInt32(ViewData["CurrentPage"]) - 1); i <= Math.Min(Convert.ToInt32(ViewData["TotalPages"]), Convert.ToInt32(ViewData["CurrentPage"]) + 1); i++)
                        {
                            <li class="page-item @(Convert.ToInt32(ViewData["CurrentPage"]) == i ? "active" : "")">
                                <a class="page-link bg-warning" href="@Url.Action("Monster", new { page = i })">@i</a>
                            </li>
                        }
                        <li class="page-item @(Convert.ToInt32(ViewData["CurrentPage"]) == Convert.ToInt32(ViewData["TotalPages"]) ? "disabled" : "")">
                            <a class="page-link bg-warning" href="@Url.Action("Monster", new { page = Convert.ToInt32(ViewData["CurrentPage"]) + 1 })" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </main>

</body>

