@model List<Spell>

<h1 class="text-center">SPELLS</h1>

<div>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th class="align-middle" scope="col">Name</th>
                <th class="align-middle" scope="col">Spell description</th>
                <th class="align-middle" scope="col">Spell duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Spell spell in Model)
            {
                <tr>
                    <td class="align-middle">@spell.SpellName</td>
                    <td class="align-middle">@spell.SpellDescription</td>
                    <td class="align-middle">@spell.SpellDuration</td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(Convert.ToInt32(ViewData["CurrentPage"]) == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Spell", new { page = Convert.ToInt32(ViewData["CurrentPage"]) - 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = Math.Max(1, Convert.ToInt32(ViewData["CurrentPage"]) - 5); i <= Math.Min(Convert.ToInt32(ViewData["TotalPages"]), Convert.ToInt32(ViewData["CurrentPage"]) + 5); i++)
            {
                <li class="page-item @(Convert.ToInt32(ViewData["CurrentPage"]) == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Spell", new { page = i })">@i</a>
                </li>
            }
            <li class="page-item @(Convert.ToInt32(ViewData["CurrentPage"]) == Convert.ToInt32(ViewData["TotalPages"]) ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Spell", new { page = Convert.ToInt32(ViewData["CurrentPage"]) + 1 })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>    
