@model List<Spell>
<head>
    <link rel="stylesheet" href="~/css/SpellsListStyle.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/SerchBarCss.css" asp-append-version="true" />
</head>
<body class="bg-spells">
    <h1 class="titulo">SPELLS</h1>
    <div class="search-form">
        <form asp-controller="Glossary" asp-action="SearchSpells" method="get">
            <a asp-controller="Glossary" asp-action="Spell">
                <button class="search-button" type="submit">Reset</button>
            </a>
            <input class="search-input" type="text" name="searchTerm" placeholder="Search in the Realm">
            <button class="search-button" type="submit">Search</button>
        </form>
    </div>

    <main>
        <section>
            @foreach (Spell spell in Model)
            {
                <details name="monster-info" class="m-2">
                    <summary>@spell.SpellName</summary>
                    <div>
                        <p>
                            <b>Level: </b>@spell.SpellLevel
                            <br>
                            <b>Range:</b> @spell.SpellRange
                            <br>
                            <b>Duration: </b>@spell.SpellDuration
                            <br>
                            <b>Material: </b>@spell.SpellMaterial
                            <br>
                            <b>Concentration: </b>@spell.SpellConcentration
                            <br>
                            <b>Description: </b>@spell.SpellDescription
                            <br>
                        </p>
                    </div>
                </details>
            }
        </section>

        <!-- Pagination -->
        <footer>
            <div class="mt-3 d-flex justify-content-center align-items-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item @(Convert.ToInt32(ViewData["CurrentPage"]) == 1 ? "disabled" : "")">
                            <a class="page-link bg-warning" href="@Url.Action("Spell", new { page = Convert.ToInt32(ViewData["CurrentPage"]) - 1 })" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (int i = Math.Max(1, Convert.ToInt32(ViewData["CurrentPage"]) - 1); i <= Math.Min(Convert.ToInt32(ViewData["TotalPages"]), Convert.ToInt32(ViewData["CurrentPage"]) + 1); i++)
                        {
                            <li class="page-item @(Convert.ToInt32(ViewData["CurrentPage"]) == i ? "active" : "")">
                                <a class="page-link bg-warning" href="@Url.Action("Spell", new { page = i })">@i</a>
                            </li>
                        }
                        <li class="page-item @(Convert.ToInt32(ViewData["CurrentPage"]) == Convert.ToInt32(ViewData["TotalPages"]) ? "disabled" : "")">
                            <a class="page-link bg-warning" href="@Url.Action("Spell", new { page = Convert.ToInt32(ViewData["CurrentPage"]) + 1 })" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </main>
</body>

