@model MacacosMazmorrasMVC.ViewModels.SessionViewModel
<head>
    <link rel="stylesheet" href="~/css/SessionView.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CombatCards.css" asp-append-version="true" />
</head>

@{
}

<body class="bg-campaign">
    <h1 class="titulo">@Model.Session.SesionName</h1>
    <h6 class="text-center text-white">@(Model.Session.SesionDate.HasValue ? Model.Session.SesionDate.Value.ToString("dd/MM/yyyy") : " There is still no set date")</h6>
    <div class="floating-button-return">
        <a asp-controller="Campaign" asp-action="CampaignSesions" type="button">
            <a asp-controller="Campaign" asp-action="CampaignSesions" type="button" class="text-decoration-none"><button class="whiteButton-normal"><b>End session</b></button></a>
        </a>
    </div>
    <main class="container mt-5" style="display: flex">
        <section style="flex: 2">
            <article>
                @{
                    int i = 0;
                            <div>
                                @foreach (SheetCustom sheetCustom in Model.SheetCustoms)
                        {
                            {
                                        <div class="hover-scale bounce">
                                            <div class="next-turn-list-unit">
                                                <div class="row">
                                                    <img class="next-turn-list-image" src="@Model.SheetCustoms[i].ImgUrl" />

                                                    <div class="col">
                                                        <div class="progress-bar-bg border-1 border-dark">
                                                            <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="max-width: 100%; height: 25px; width: @(Model.SheetCustoms[i].SesionHp * 100 / @Model.SheetCustoms[i].Hp)%;" aria-valuenow="@Model.SheetCustoms[i].SesionHp" aria-valuemin="0" aria-valuemax="@Model.SheetCustoms[i].Hp">
                                                                <span class="text-black fw-bold" id="sesionHp">@Model.SheetCustoms[i].SesionHp / @Model.SheetCustoms[i].Hp</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-center align-items-center bg-dark">
                                                            <p class="text-white text-center fw-bold mb-0">
                                                                @Model.SheetCustoms[i].Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            }
                            i++;
                        }
                            </div>
                }
            </article>
        </section>
        <section class="text-area">
            <article class="text-white">
                <pre class="textOverflow">@Model.Session.SesionDesc</pre>
            </article>
        </section>
        <section class="right-area">
            <div class="spoty-img mb-5">
            </div>
            <div>
                <button id="chooseEnemiesBtn" class="blueButton-session"><b>Choose Enemies</b></button>
            </div>
            <div class="floating-button" id="startCombatButton">
                <a asp-controller="Session" asp-action="StartCombat" type="button" method="get">
                    <a asp-controller="Session" asp-action="StartCombat" method="get" type="button" class="text-decoration-none">
                        <button class="whiteButton-normal"><b>Start Combat</b></button>
                    </a>
                </a>
            </div>
        </section>
    </main>
</body>


<div class="modal fade mt-5" id="chooseEnemiesModal" tabindex="-1" role="dialog" aria-labelledby="chooseEnemiesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content  modal-style text-white" style="border: 2px solid #bf9b30;">
            <div class="modal-header">
                <h5 class="modal-title" id="chooseEnemiesModalLabel">Select Monsters</h5>
            </div>
            <div class="modal-body">
                <!-- Contenido del modal -->
                @using (Html.BeginForm("SelectedMonsters", "Session", FormMethod.Post))
                {
                    <ul>
                        @foreach (var monster in Model.Monsters)
                        {
                            <li>
                                <label>
                                    @Html.CheckBox("selectedMonsters", false, new { value = monster.Name, @class = "monsterCheckbox" })
                                    @monster.Name
                                </label>
                            </li>
                        }
                    </ul>

                    <button type="submit" class="greenButton-normal" value="add" onclick="showButtonStart()"><b>Add</b></button>
                }
            </div>
        </div>
    </div>
</div>

<script>
    // Agregar script para abrir el modal al hacer clic en el botón
    document.addEventListener('DOMContentLoaded', function () {
        var chooseEnemiesBtn = document.getElementById('chooseEnemiesBtn');
        var chooseEnemiesModal = new bootstrap.Modal(document.getElementById('chooseEnemiesModal'));

        chooseEnemiesBtn.addEventListener('click', function () {
            chooseEnemiesModal.show();
        });
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.body.addEventListener('input', function (event) {
            if (event.target.classList.contains('newHpValue')) {
                event.target.closest('form').querySelector('input[name="newHp"]').value = event.target.value;
            }
        });
    });
</script>


