@model List<SheetCustom>



<head>
    <link rel="stylesheet" href="~/css/SessionView.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CombatCards.css" asp-append-version="true" />
</head>

<body class="bg-combat">
    <h1 class="titulo">@ViewBag.SelectedSession.SesionName</h1>
    <main class="container mt-5" style="display: flex">
        <section style="flex: 1">
            <article>
                @{
                    <div>
                        @foreach (SheetCustom character in Model)
                        {
                            <div class="char-card text-white">
                                <div style="width: 113px; height: 113px;">
                                    <img class="char-card-img" src="@character.ImgUrl" />
                                </div>
                                <div class="char-card-info">
                                    <div>
                                        <p>@character.Name</p>
                                    </div>
                                    <div>
                                        <p>HP PLACEHOLDER</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </article>
        </section>
        <section class="text-area" style="flex: 2;">
            <article class="text-white">
                <pre class="textOverflow">@ViewBag.SelectedSession.SesionDesc</pre>
            </article>
        </section>
        <section style="flex: 1">
            <div>
                <p>SPOTIFY PLACEHOLDER</p>
            </div>
            <div class="floating-button">
                <a asp-controller="Session" asp-action="StartCombat" type="button" method="get">
                    <button class="floating-button-plus d-xl-none fs-3 fw-bolder">
                        Go
                    </button>
                    <a asp-controller="Session" asp-action="StartCombat" method="get" type="button" class="text-decoration-none"><button class="whiteButton-normal d-none d-xl-block"><b>Start Combat</b></button></a>
                </a>
            </div>
        </section>
    </main>
</body>

@* <div class="row">
    <div class="col-3">
        <div class="row">
            <div class="col-4">
                @{
                    int posicion = 0;

                    foreach (var unit in Model)
                    {
                        <div class="card" style="width: 10rem;">
                            <img class="card-img-top" src="@unit.ImgUrl" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@unit.Name</h5>
                                <p class="card-text">HP: @unit.SesionHp / @unit.Hp</p>
                                <form asp-controller="Session" asp-action="ChangePlayerHp" method="post">
                                    <input type="text" name="newHp" id="newHp" />
                                    <input type="hidden" name="position" value="@posicion" />
                                    <button type="submit" class="btn btn-primary">Change HP</button>
                                </form>
                            </div>
                        </div>
                        posicion++;
                    }
                }
            </div>

            <div class="col-4">
            </div>

            <div class="col-4">
            </div>
        </div>
    </div>

    <div class="col-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacus nibh, tincidunt vitae tellus quis, facilisis tincidunt tortor. Nam nec venenatis libero. Sed nisl enim, rutrum ac ultrices ut, rutrum eu sapien. Sed euismod lorem vitae pharetra egestas. Morbi faucibus elit ut mauris pretium sollicitudin. Sed a ullamcorper libero, et porttitor nulla. Maecenas eu pretium magna. Ut ultricies, nisl vitae finibus aliquam, mi eros pharetra nulla, sed posuere est ex id nisi. Maecenas laoreet in est sed aliquam. Donec cursus metus id enim mattis, sit amet iaculis urna gravida.

        Aliquam erat volutpat. Maecenas elementum urna lectus, sed tincidunt lectus volutpat vel. Proin vulputate, sem quis rhoncus interdum, ante tellus sollicitudin est, nec maximus ligula magna sit amet elit. Fusce mi eros, suscipit vel odio at, consectetur pulvinar libero. Cras auctor posuere est vel vulputate. Duis lacinia dui eget quam aliquet, sed tristique ligula sodales. Proin pellentesque nec nibh id viverra. Maecenas mattis laoreet maximus. Suspendisse non lacus leo. Aliquam ultricies imperdiet nunc ac hendrerit.

        Duis at sapien mollis, vestibulum tellus sed, viverra tellus. Donec odio nisl, dictum nec turpis eu, auctor dignissim leo. Mauris malesuada consectetur tellus, et ultrices mauris accumsan quis. Sed sollicitudin elit vel mi ultrices, id pulvinar mi maximus. Vivamus volutpat enim quis ligula imperdiet, id venenatis orci euismod. Quisque molestie turpis nec ex viverra, sit amet lobortis leo rutrum. Aenean consectetur porttitor iaculis. Sed hendrerit dictum massa vitae molestie.

        Aliquam erat volutpat. Proin consequat tellus diam, vel efficitur tortor maximus ac. Phasellus et libero et velit consectetur mattis ut et eros. Donec iaculis ullamcorper risus, ac aliquam velit scelerisque eget. Maecenas ex mi, aliquam sed velit a, lacinia gravida nulla. Maecenas odio enim, commodo at ex quis, imperdiet dapibus elit. Etiam ultrices ipsum augue, eu convallis diam posuere ac. Fusce faucibus, turpis at maximus mattis, dui diam gravida arcu, at venenatis urna turpis id dolor. Sed tristique sem neque, et dictum velit commodo eu. Integer at laoreet mauris. Vestibulum quis eros non massa blandit cursus sit amet vel mauris.

        Nunc eget nibh euismod, pharetra mi vel, sodales mauris. Praesent non odio quis arcu pellentesque blandit sed nec leo. Praesent et elementum augue. Aenean lacus libero, commodo ac sem ut, luctus ultrices nulla. Vivamus vestibulum metus id finibus varius. Phasellus euismod interdum velit, eu dapibus libero fringilla a. Phasellus rhoncus velit elementum purus aliquam, vel sagittis sem euismod. Sed eu dignissim erat. Curabitur orci dolor, semper eget sollicitudin malesuada, finibus et elit. Ut sollicitudin scelerisque sollicitudin. Mauris condimentum turpis id pretium eleifend. Donec dignissim consequat urna, ac tempor odio consequat et. Maecenas mollis nisi quis dui ultricies euismod. Nulla risus turpis, volutpat sed dapibus sit amet, tincidunt at est. Mauris vel mi ligula. Pellentesque eget rutrum est, in faucibus odio.
    </div>

    <div class="col-3">
        <form asp-controller="Session" asp-action="StartCombat" method="get">
            <button type="submit" class="btn btn-primary">Start Combat</button>
        </form>
    </div>
</div> *@
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.body.addEventListener('input', function (event) {
            if (event.target.classList.contains('newHpValue')) {
                event.target.closest('form').querySelector('input[name="newHp"]').value = event.target.value;
            }
        });
    });
</script>