@model List<Unit>
@inject IHttpContextAccessor httpcontextaccessor;
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    
    <div class="row">
        <div class="col-4">
        @{
            bool firstUnit = false;
            int posicion = 0;

            foreach (var unit in Model)
            {
                if (firstUnit)
                {
                    <div class="card" style="width: 8rem;">
                        <img class="card-img-top" src="@unit.ImgUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@unit.Name</h5>
                            <p class="card-text">HP: @unit.SesionHp / @unit.Hp</p>
                            <form asp-controller="Session" asp-action="ChangeHp" method="post">
                                <input type="text" name="newHp" id="newHp" />
                                <input type="hidden" name="position" value="@posicion" />
                                <button type="submit" class="btn btn-primary">Change HP</button>
                            </form>
                            <form asp-controller="Session" asp-action="SetFocus" method="post">
                                <input type="hidden" name="position" value="@posicion" />
                                <button type="submit" class="btn btn-primary">INFO</button>
                            </form>

                        </div>
                    </div>
                }
                else
                    firstUnit = true;
                posicion++;
            }
        }
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@Model[0].ImgUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Model[0].Name</h5>
                    <p class="card-text">HP: @Model[0].SesionHp / @Model[0].Hp</p>
                <form asp-controller="Session" asp-action="ChangeHp" method="post">
                    <input type="text" name="newHp" class="newHpValue" />
                    <input type="hidden" name="position" value="0" />
                    <button type="submit" class="btn btn-primary">Change HP</button>
                </form>
                </div>
            </div>
        <form asp-controller="Session" asp-action="PassTurn" method="get">
            <button type="submit" class="btn btn-primary">Next turn</button>
        </form>
        <form asp-controller="Session" asp-action="EndCombat" method="get">
            <button type="submit" class="btn btn-primary">End Combat</button>
        </form>
        </div>

        <div class="col-4">
        @{
            if (ViewBag.Position != null && ViewBag.Position >= 0 && ViewBag.Position < Model.Count)
            {
                Unit focusUnit = @Model[ViewBag.Position];
                if (focusUnit != null)
                {
                    <div class="container mt-4" id="detail-card-container">
                        <div class="detail-card">
                            <img src="@focusUnit.ImgUrl" class="card-img-top" alt="Imagen del monstruo">
                            <div class="card-body">
                                <h5 class="card-title">@focusUnit.Name</h5>
                                <p class="card-text"><strong>@focusUnit.RaceType</strong></p>
                                <p class="card-text"><strong>HP:</strong> @focusUnit.SesionHp / <strong></strong> @focusUnit.Hp / <strong>AC:</strong> @focusUnit.Ac</p>

                                <h6 class="card-subtitle mb-2 text-muted">Stats:</h6>
                                <p class="card-text"><strong>Str:</strong> @focusUnit.Str / <strong>Con:</strong> @focusUnit.Con</p>
                                <p class="card-text"><strong>Dex:</strong> @focusUnit.Dex / <strong>Int:</strong> @focusUnit.Inte</p>
                                <p class="card-text"><strong>Wis:</strong> @focusUnit.Wis / <strong>Cha:</strong> @focusUnit.Cha</p>

                                <h6 class="card-subtitle mb-2 text-muted">Actions:</h6>
                                <p class="card-text">
                                    @if (focusUnit.Actions != null)
                                    {
                                        string actions = focusUnit.Actions;
                                    }
                                </p>
                            </div>
                        </div>
                    </div>

                }
            }
            else
            {
                Unit focusUnit = @Model[0];
                if (focusUnit != null)
                {
                    <div class="container mt-4" id="detail-card-container">
                        <div class="detail-card">
                            <img src="@focusUnit.ImgUrl" class="card-img-top" alt="Imagen del monstruo">
                            <div class="card-body">
                                <h5 class="card-title">@focusUnit.Name</h5>
                                <p class="card-text"><strong>@focusUnit.RaceType</strong></p>
                                <p class="card-text"><strong>HP:</strong> @focusUnit.SesionHp / <strong></strong> @focusUnit.Hp / <strong>AC:</strong> @focusUnit.Ac</p>

                                <h6 class="card-subtitle mb-2 text-muted">Stats:</h6>
                                <p class="card-text"><strong>Str:</strong> @focusUnit.Str / <strong>Con:</strong> @focusUnit.Con</p>
                                <p class="card-text"><strong>Dex:</strong> @focusUnit.Dex / <strong>Int:</strong> @focusUnit.Inte</p>
                                <p class="card-text"><strong>Wis:</strong> @focusUnit.Wis / <strong>Cha:</strong> @focusUnit.Cha</p>

                                <h6 class="card-subtitle mb-2 text-muted">Actions:</h6>
                                <p class="card-text">
                                    @if (focusUnit.Actions != null)
                                    {
                                        string actions = focusUnit.Actions;
                                    }
                                </p>
                            </div>
                        </div>
                    </div>

                }

            }
        }
        </div>
    </div>