@model List<Unit>
@inject IHttpContextAccessor httpcontextaccessor;
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

@{
    ViewData["Title"] = "Combat";
}


<head>
    <link rel="stylesheet" href="~/css/CombatView.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CombatCards.css" asp-append-version="true" />
</head>
    
<body class="bg-combat">
    <h1 class="titulo">Combat</h1>
    <main class="container-combat">
        <section class="next-turn">
            <div>
                @{
                    int contadorUnitsList = 0;
                    <div class="lista">
                        @foreach(Unit unit in Model)
                        {
                            if (contadorUnitsList >= 3) //Max units in div
                                break;

                            <div class="hover-scale">
                                <div class="next-turn-list-unit ">
                                    <div class="">
                                        <img class="next-turn-list-image" src="@unit.ImgUrl" />
                                    </div>
                                </div>
                            </div>

                            contadorUnitsList++;
                        }
                    </div>
                }
            </div>
        </section>
        <section class="final-turns">
            <div class="lista">
                @{
                    contadorUnitsList = 0;
                    @foreach (Unit unit in Model)
                    {
                        if (contadorUnitsList > 3) //empieza por la 4 units in div
                        {
                            <div class="rounded-1 hover-scale">
                                <div class="text-center text-white bg-dark">
                                    <p>@unit.Name</p>
                                </div>
                            </div>
                        }

                        contadorUnitsList++;
                    }
                }
            </div>
        </section>
        <section class="current-turn">          
            <div class="d-flex justify-content-center hover-scale">
                <div class="card rounded-1">
                        <div class="card-image rounded-1">
                            <img class="card-image-portrait" src="https://i.ibb.co/Xxdgp0R/acab72563bd7.png" alt="Character Image">
                        </div>

                        <div class="input-group" style="height: 25px;">
                            <div class="input-group-append" style="height: 100%; width: 35px;">
                            <form asp-controller="Session" asp-action="ChangeHp" method="post">
                                    <input type="hidden" name="position" value="0" />
                                    <input type="hidden" id="newHp" name="newHp" value="666" />
                                    <button class="btn btn-primary" type="submit">-</button>
                                </form>
                            </div>
                            <div class="progress-bar-bg">
                            <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="max-width: 100%; height: 25px; width: @(Model[0].SesionHp * 100 / @Model[0].Hp)%;" aria-valuenow="@Model[0].SesionHp" aria-valuemin="0" aria-valuemax="@Model[0].Hp">
                                <span id="sesionHp">@Model[0].SesionHp / @Model[0].Hp</span>
                            </div>
                            </div>
                            <div class="input-group-append" style="height: 100%; width: 35px;">
                            <form asp-controller="Session" asp-action="ChangeHp" method="post">
                                <input type="hidden" name="position" value="0" />
                                <input type="hidden" name="newHp" value="999" />
                                <button class="btn btn-primary" type="submit">+</button>
                                </form>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="input-group mb-3">
                                <form asp-controller="Session" asp-action="ChangeHp" method="post">
                                    <input type="text" name="newHp" id="newHp" class="form-control" style="width: 80%;" aria-label="newHp" aria-describedby="basic-addon2">
                                    <div class="input-group-append" style="width: auto;">
                                            <button class="btn btn-outline-secondary" type="submit">ChangeHp</button>
                                    </div>
                                    <input type="hidden" name="position" value="0" />
                                </form>
                            </div>

                            <h2>@Model[0].Name</h2>
                            <span class="classLevel">@Model[0].RaceType</span>
                            <br />
                            <br />
                            @if (Model[0].IsPlayer == true)
                            {
                                <h3 style="color: white;">PLAYER</h3>
                            }
                            else
                            {
                                <h3 style="color: white;">MONSTER</h3>
                            }

                            <form asp-controller="Session" asp-action="PassTurn" method="get">
                                <button type="submit" class="btn btn-primary">Next turn</button>
                            </form>
                        </div>
                </div>
                <img class="card-frame" src="~/images/macaco/CharacterCard_Frame.png" />
            </div>
        </section>
        <section class="next-turn-button">
        </section>
        <section class="info">
        </section>
        <section class="end-combat-button">
            <form asp-controller="Session" asp-action="EndCombat" method="get">
                <button type="submit" class="btn btn-primary">End Combat</button>
            </form>
        </section>
    </main>
</body>

@section scripts {
    <script>

    </script>
}



@*             <div class="col col-md-6 col-lg-4 d-flex mt-5 justify-content-center align-items-center hover-scale">
                <div class="card rounded-1">
                    <div class="card-image rounded-1">
                        <img class="card-image-portrait" src="@sheetCustom.ImgUrl" alt="Character Image">
                    </div>

                    <div class="card-body">
                        <h2>@sheetCustom.Name</h2>
                        <span class="classLevel">@sheetCustom.RaceType Lvl @sheetCustom.SheetCustomLevel</span>
                        <br />
                        <br />
                        <p>@sheetCustom.SheetCustomBackground</p>
                    </div>
                </div>
            </div>
 *@


@* <div class="d-flex flex-column">
    <div class="bg-danger px-1 rounded-1 mt-2 w-100 text-white"><a class="w-100" type="button">hola</a></div>
    <div class="bg-danger px-1 rounded-1 mt-2 mb-2 w-100 text-white">hola</div>
    <div class="bg-danger px-1 rounded-1 mb-2 w-100 text-white">hola</div>
</div> *@
@* <div class="row">
        <div class="col-4">
        @{
            bool firstUnit = false;
            int posicion = 0;

            foreach (var unit in Model)
            {
                if (firstUnit)
                {
                    <div class="card" style="width: 8rem;">
                        <img class="card-img-top" src="@unit.ImgUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@unit.Name</h5>
                            <p class="card-text">HP: @unit.SesionHp / @unit.Hp</p>
                            <form asp-controller="Session" asp-action="ChangeHp" method="post">
                                <input type="text" name="newHp" id="newHp" />
                                <input type="hidden" name="position" value="@posicion" />
                                <button type="submit" class="btn btn-primary">Change HP</button>
                            </form>
                            <form asp-controller="Session" asp-action="SetFocus" method="post">
                                <input type="hidden" name="position" value="@posicion" />
                                <button type="submit" class="btn btn-primary">INFO</button>
                            </form>

                        </div>
                    </div>
                }
                else
                    firstUnit = true;
                posicion++;
            }
        }
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@Model[0].ImgUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Model[0].Name</h5>
                    <p class="card-text">HP: @Model[0].SesionHp / @Model[0].Hp</p>
                <form asp-controller="Session" asp-action="ChangeHp" method="post">
                    <input type="text" name="newHp" class="newHpValue" />
                    <input type="hidden" name="position" value="0" />
                    <button type="submit" class="btn btn-primary">Change HP</button>
                </form>
                </div>
            </div>
        <form asp-controller="Session" asp-action="PassTurn" method="get">
            <button type="submit" class="btn btn-primary">Next turn</button>
        </form>
        <form asp-controller="Session" asp-action="EndCombat" method="get">
            <button type="submit" class="btn btn-primary">End Combat</button>
        </form>
        </div>

        <div class="col-4">
        @{
            if (ViewBag.Position != null && ViewBag.Position >= 0 && ViewBag.Position < Model.Count)
            {
                Unit focusUnit = @Model[ViewBag.Position];
                if (focusUnit != null)
                {
                    <div class="container mt-4" id="detail-card-container">
                        <div class="detail-card">
                            <img src="@focusUnit.ImgUrl" class="card-img-top" alt="Imagen del monstruo">
                            <div class="card-body">
                                <h5 class="card-title">@focusUnit.Name</h5>
                                <p class="card-text"><strong>@focusUnit.RaceType</strong></p>
                                <p class="card-text"><strong>HP:</strong> @focusUnit.SesionHp / <strong></strong> @focusUnit.Hp / <strong>AC:</strong> @focusUnit.Ac</p>

                                <h6 class="card-subtitle mb-2 text-muted">Stats:</h6>
                                <p class="card-text"><strong>Str:</strong> @focusUnit.Str / <strong>Con:</strong> @focusUnit.Con</p>
                                <p class="card-text"><strong>Dex:</strong> @focusUnit.Dex / <strong>Int:</strong> @focusUnit.Inte</p>
                                <p class="card-text"><strong>Wis:</strong> @focusUnit.Wis / <strong>Cha:</strong> @focusUnit.Cha</p>

                                <h6 class="card-subtitle mb-2 text-muted">Actions:</h6>
                                <p class="card-text">
                                    @if (focusUnit.Actions != null)
                                    {
                                        string actions = focusUnit.Actions;
                                    }
                                </p>
                            </div>
                        </div>
                    </div>

                }
            }
            else
            {
                Unit focusUnit = @Model[0];
                if (focusUnit != null)
                {
                    <div class="container mt-4" id="detail-card-container">
                        <div class="detail-card">
                            <img src="@focusUnit.ImgUrl" class="card-img-top" alt="Imagen del monstruo">
                            <div class="card-body">
                                <h5 class="card-title">@focusUnit.Name</h5>
                                <p class="card-text"><strong>@focusUnit.RaceType</strong></p>
                                <p class="card-text"><strong>HP:</strong> @focusUnit.SesionHp / <strong></strong> @focusUnit.Hp / <strong>AC:</strong> @focusUnit.Ac</p>

                                <h6 class="card-subtitle mb-2 text-muted">Stats:</h6>
                                <p class="card-text"><strong>Str:</strong> @focusUnit.Str / <strong>Con:</strong> @focusUnit.Con</p>
                                <p class="card-text"><strong>Dex:</strong> @focusUnit.Dex / <strong>Int:</strong> @focusUnit.Inte</p>
                                <p class="card-text"><strong>Wis:</strong> @focusUnit.Wis / <strong>Cha:</strong> @focusUnit.Cha</p>

                                <h6 class="card-subtitle mb-2 text-muted">Actions:</h6>
                                <p class="card-text">
                                    @if (focusUnit.Actions != null)
                                    {
                                        string actions = focusUnit.Actions;
                                    }
                                </p>
                            </div>
                        </div>
                    </div>

                }

            }
        }
        </div>
    </div> *@